<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Image check</title>
</head>
<body>

<style>
    .pagination ul {
        padding-left: 0;
    }
    .pagination ul li {
        display: inline-block;
        padding: 0.5em;
    }
</style>

<div class="container">
    <div class="mt-5"><h1>這裡可以偷偷看到大家傳什麼圖ㄎㄎ</h1></div>
    {{ pagination.info }}
    {{ pagination.links }}
    <div class="card-columns">
        {% for image in images %}
            <div class="card">
                <img class="card-img" src="{{ image }}" alt="Card image">
            </div>
        {% endfor %}
    </div>
    {{ pagination.info }}
    {{ pagination.links }}
</div>

{#<nav aria-label="Page navigation example">#}
{##}
{#    <ul class="pagination">#}
{#        <li class="page-item">#}
{#            <a class="page-link" href="#" aria-label="Previous">#}
{#                <span aria-hidden="true">&laquo;</span>#}
{#                <span class="sr-only">Previous</span>#}
{#            </a>#}
{#        </li>#}
{#        {% for link in pagination.links %}#}
{#            <li class="page-item"><a class="page-link" href="{{ link }}">{{ link }}</a></li>#}
{#        {% endfor %}#}
{#        <li class="page-item">#}
{#            <a class="page-link" href="#" aria-label="Next">#}
{#                <span aria-hidden="true">&raquo;</span>#}
{#                <span class="sr-only">Next</span>#}
{#            </a>#}
{#        </li>#}
{#    </ul>#}
{#</nav>#}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>